:root {
  --blue: #07f;
  --spacing: 8px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: tan;
  height: 60px;
  width: 100%;
}

main {
  display: grid;
  place-items: center;
  margin-top: 100px;
  height: 250px;
}

main img {
  border-radius: 50%;
}

button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  transition: ease-in 100ms;
  text-transform: uppercase;
  font-weight: 500;
}

main button {
  background-color: tomato;
}

main button:hover {
  background-color: orangered;
}

header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

header button:first-child {
  background-color: teal;
}

header button:first-child:hover {
  background-color: #008080cc;
}

header button:last-child {
  background-color: transparent;
  border: 2px solid teal;
  color: teal;
}

header button:last-child:hover {
  background-color: #fff5;
}

#auth {
  background-color: white;
  border: 2px solid silver;
  padding: 16px;
  border-radius: var(--spacing);
  max-width: 420px;
  height: fit-content;
  margin: auto;
  margin-top: 100px;
}

#auth #divider {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px auto var(--spacing);
}

#auth #divider hr {
  width: 45%;
  border: none;
  border-top: 1px solid silver;
}

#auth #divider span {
  margin: var(--spacing);
}

#auth section button {
  color: white;
  margin-top: 16px;
  background-color: var(--blue);
  transition: ease-out 100ms;
}

#auth section button:hover {
  background-color: steelblue;
}

form {
  display: grid;
  place-items: center;
}

form fieldset {
  padding: 16px 16px;
  margin-bottom: var(--spacing);
  border: 2px solid #d9d6d6a6;
}

form fieldset legend {
  font-weight: bold;
  font-size: 2rem;
}

form input {
  width: 100%;
  padding: 6px 10px;
  margin: 4px auto 16px;
  font-size: medium;
}

form button[type="submit"] {
  margin: var(--spacing) auto 10px;
  width: 100%;
}

form #links {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: var(--spacing);
}

form #links a {
  color: var(--blue);
  text-decoration: none;
}

form #links a:hover {
  text-decoration: underline;
}

form #links a:last-child {
  text-align: right;
}
